{{<base}}
{{$body}}
<h1>Rygen example website</h1>
<p>Now that you can build and serve a Rygen website, make it your own by:</p>
<ul>
  <li>adding content in <code>posts/</code>,</li>
  <li>updating site info in <code>rygen.toml</code>, and</li>
  <li>editing pages in <code>templates/</code>.</li>
</ul>
{{/body}}
{{/base}}
