{{<base}}
{{$title}}{{title}} - {{site_name}}{{/title}}
{{$body}}
<article>
  <header>
    <h1>{{title}}</h1>
    <span>
    {{#tags}}
    <a href="/tag/{{id}}.html">#{{id}}</a>
    {{/tags}}
    </span>
    <time>{{date}}</time>
    <hr />
  </header>
  {{& content}}
</article>
{{/body}}
{{/base}}
